<div class="container" [hidden]="this.isHidePanel">
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <a routerLink="cadastro-empresa-aerea" class="card-link">
              <span class="card-title">Empresa Aérea</span>
              <p>Conteúdo do card Empresa Aérea</p>
            </a>            
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <a routerLink="cadastro-empresa-parceira"class="card-link">
              <span class="card-title">Empresas Parceiras</span>
              <p>Conteúdo do card Empresas Parceiras</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <a routerLink="saldo-milhas" class="card-link">
              <span class="card-title">Saldo de Milhas</span>
              <p>Conteúdo do card Saldo de Milhas</p>
            </a>            
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <a routerLink="movimentacao" class="card-link">
              <span class="card-title">Movimentação</span>
              <p>Conteúdo do card Movimentação</p>
            </a>
          </div>
        </div>
      </div>      
    </div>
    <p>Usuário Logado: {{usuarioNome}}</p>
  </div>
  