    <nav>
        <div class="navbar-color nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="empresa-aerea.html">Empresa Aérea</a></li>
                <li><a href="empresa-parceiro.html">Empresa Parceiro</a></li>
                <li><a href="movimentacao.html">Movimentação</a></li>
                <li><a href="saldo.html">Saldo</a></li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo" #mobile>
        <li><a href="empresa-aerea.html">Empresa Aérea</a></li>
        <li><a href="empresa-parceiro.html">Empresa Parceiro</a></li>
        <li><a href="movimentacao.html">Movimentação</a></li>
        <li><a href="saldo.html">Saldo</a></li>
    </ul>