    <nav>
        <div class="navbar-color nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a routerLink="">Inicio</a></li>
                <li><a routerLink="cadastro-empresa-aerea">Empresa Aérea</a></li>
                <li><a routerLink="cadastro-empresa-parceira">Empresa Parceiro</a></li>
                <li><a routerLink="movimentacao">Movimentação</a></li>
                <li><a routerLink="saldo-milhas">Saldo</a></li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo" #mobile>
        <li><a routerLink="">Inicio</a></li>        
        <li><a routerLink="cadastro-empresa-aerea">Empresa Aérea</a></li>
        <li><a routerLink="cadastro-empresa-parceira">Empresa Parceiro</a></li>
        <li><a routerLink="movimentacao">Movimentação</a></li>
        <li><a routerLink="saldo-milhas">Saldo</a></li>
    </ul>