<div class="container">
    <h3>Cadastro de Empresa Aérea</h3>
    <form>
      <div class="input-field">
        <input type="text" id="nome-empresa" required>
        <label for="nome-empresa">Nome da Empresa</label>
      </div>
      <div class="input-field">
        <input type="number" id="saldo-milhas" required>
        <label for="saldo-milhas">Saldo de Milhas</label>
      </div>
      <div class="input-field">
        <input type="text" id="valor-pago-milhas" required mask="separator.2" thousandSeparator=",">
        <label for="valor-pago-milhas">Valor Pago nas Milhas</label>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Cadastrar</button>
    </form>
  </div>
  
  